* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
    min-width: 150px;
}

.main-window {
    margin: 0 auto;
    background-color: #ff8065;
    padding: 1.5em;
    max-width: 500px;
}

.output-window {
    width: 100%;
    text-align: right;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}


.operator-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.buttons-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    background-color: white;
    margin: 3px;
    font-size: 2rem;
    flex: 1;
    text-align: center;
    border-radius: 5px;
}

.button:hover {
    background-color: #97f4a1;
    cursor: pointer;
}

@media(min-width: 500px) {
    .main-window {
        margin-top: 3rem;
    }
}